<!DOCTYPE html>
    <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Motosanitor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/colors/beige.css') }}" id="colors">
        
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="wrapper">
            <div id="top-line"></div>
            <div class="container">
              <header id="header">
                {% block header %}{% endblock %}
              </header>
              <div class="clearfix"></div>
            </div>
            <nav id="navigation" class="style-1">
                <div class="left-corner"></div>
                <div class="right-corner"></div>
                {% block nav %}{% endblock %}
            </nav>
            <div class="clearfix"></div>
            <div id="content">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block footer %}{% endblock %}

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('js/jquery.flexslider.js') }}"></script>
        <script src="{{ asset('js/jquery.selectnav.js') }}"></script>
        <script src="{{ asset('js/jquery.twitter.js') }}"></script>
        <script src="{{ asset('js/jquery.modernizr.js') }}"></script>
        <script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
        <script src="{{ asset('js/jquery.contact.js') }}"></script>
        <script src="{{ asset('js/jquery.isotope.min.js') }}"></script>
        <script src="{{ asset('js/jquery.jcarousel.js') }}"></script>
        <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
        <script src="{{ asset('js/jquery.layerslider.min.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-43799556-1', 'motosanitor.pl');
          ga('send', 'pageview');

        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>