{% extends '::base.html.twig' %}
{% block header %}

    <div class="ten columns">
      <div id="logo">
        <h1><a href="{{ path('acme_front_homepage') }}"><img src="{{ asset('images/logo.png') }}" style="height: auto;" alt="Motosanitor" /></a></h1>
        <div id="tagline">Wszystko dla Twojego warsztatu!</div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="six columns">
      <!-- <ul class="social-icons">
        <li class="twitter"><a href="#">Twitter</a></li>
        <li class="facebook"><a href="#">Facebook</a></li>
        <li class="dribbble"><a href="#">Dribbble</a></li>
        <li class="linkedin"><a href="#">LinkedIn</a></li>
        <li class="rss"><a href="#">RSS</a></li>
      </ul> -->
      <div class="clearfix"></div>
      <div style="margin-top:43px">
        <div class="contact-details">Tel: +48 602 778 300</div><br>
        <div class="contact-details">biuro@motosanitor.pl</div>
      </div>
      <div class="clearfix"></div>
      <!-- <nav class="top-search">
        <form action="http://vasterad.com/themes/nevia/404-page.html" method="get">
          <button class="search-btn"></button>
          <input class="search-field" type="text" onblur="if(this.value=='')this.value='Search';" onfocus="if(this.value=='Search')this.value='';" value="Search" />
        </form>
      </nav> -->
    </div>

{% endblock %}
{% block nav %}
    <ul class="menu" id="responsive">
        <li>
            <a href="{{ path('acme_front_homepage') }}"
                {% if app.request.attributes.get('_route') == 'acme_front_homepage'  %}
                  id='current'
                {% endif %}
            ><i class="halflings white home"></i> Start</a>
        </li>
        <li>
            <a href="{{ path('acme_front_about') }}"
                {% if app.request.attributes.get('_route') == 'acme_front_about'  %}
                  id='current'
                {% endif %}
            ><i class="halflings white briefcase"></i> O nas</a>
        </li>
        <li>
            <a href="{{ path('acme_front_offer') }}"
                {% if app.request.attributes.get('_route') == 'acme_front_offer'  %}
                  id='current'
                {% endif %}
            ><i class="halflings white cog"></i> Oferta</a>
        </li>
    </ul>

{% endblock %}
{% block body %}

    {% block slider -%}{% endblock %}
    {% block section -%}{% endblock %}

{% endblock %}
{% block footer %}

    <footer id="footer-bottom">
      <div class="container">
        <div class="eight columns">
          <div class="copyright">
            © Copyright 2013 by <a href="{{ path('acme_front_homepage') }}">Motosanitor</a>. All Rights Reserved.
          </div>
        </div>
      </div>
    </footer>

{% endblock %}