{% extends '::body.html.twig' %}
{% block slider -%}
	<section id="layerslider-container">  
	  <div id="layerslider" style="width: 1020px; height: 450px; margin: 0 auto;">
	    <style type="text/css">
			.headerH3 {
				color: #707070;
				font-family: 'Open Sans', sans-serif;
				font-size: 50px;
				font-weight: normal;
			}
			.headerH3 strong {
				color: #BFA980;
				font-weight: bold;
			}
			.headerH3 + a,
			.listElem + a {
				color: #fff;
			}
			.headerH3_2 {
				color: #BFA980;
				
				font-family: 'Open Sans', sans-serif;
				font-size: 30px;
				font-weight: bold;
			}
			.listElem {
				font-family: 'Open Sans', sans-serif;
				font-size: 24px;
				font-weight: normal;
				color: #707070;
			}
		</style>

	    <!-- Slide 1 -->
		<article class="ls-layer" style="slidedelay: 10000;">
			<img src="{{ asset('images/slide-01.jpg') }}" class="ls-bg" alt="">
			
			<h3 class="ls-s1 headerH3" style="top: 57px; left: 546px; slidedirection: top; slideoutdirection: top; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 1100;">Dostarczymy Ci <strong>wszystko</strong> czego potrzebujesz!</h3>
			<a class="ls-s1 caption-color" style="top: 357px; left: 806px; slidedirection: right; slideoutdirection: right; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 1000;">Zadzwoń do nas!</a>
		</article>
	    
	    <!-- Slide 2 -->
		<article class="ls-layer" style="slidedelay: 10000; slidedirection: top;">
			<img src="{{ asset('images/slide-02.png') }}" class="ls-bg">
			<h3 class="ls-s1 headerH3_2" style="top: 40px; left: 65px; slidedirection: top; slideoutdirection: top; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 800;">Oferujemy,</h3>
			<h3 class="ls-s1 listElem" style="top: 100px; left: 70px; slidedirection: left; slideoutdirection: left; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 1000;">- elementy narzędziowe,</h3>
			<h3 class="ls-s1 listElem" style="top: 150px; left: 70px; slidedirection: left; slideoutdirection: left; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 1000;">- osprzęt elektryczny, </h3>
			<h3 class="ls-s1 listElem" style="top: 200px; left: 70px; slidedirection: left; slideoutdirection: left; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 1000;">- osprzęt wulkanizacyjny,</h3>
			<h3 class="ls-s1 listElem" style="top: 250px; left: 70px; slidedirection: left; slideoutdirection: left; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 1000;">- chemię warsztatową,</h3>
			<h3 class="ls-s1 listElem" style="top: 300px; left: 70px; slidedirection: left; slideoutdirection: left; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 1000;">- odzież ochronną,</h3>
			<h3 class="ls-s1 listElem" style="top: 350px; left: 70px; slidedirection: left; slideoutdirection: left; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 1000;">- wyposażenie warsztatów.</h3>
		</article>

	  </div>          
	</section>
{% endblock %}
{% block section -%}
	<div class="container">
		<section class="icon-box-container">
			<div class="one-third column">
				<article class="icon-box">
					<i class="icon-fast-forward"></i>
					<h3>Szybka realizacja</h3>
					<p>W dni powszednie złożone zamówienia realizowane są w ciągu 48 godzin.</p>
				</article>
			</div>
			<div class="one-third column">
				<article class="icon-box">
					<i class="icon-thumbs-up"></i>
					<h3>Profesjonalna obsługa</h3>
					<p>Nasi pracownicy indywidualnie podchodzą do każdego złożonego zamówienia. </p>
				</article>
			</div>
			<div class="one-third column">
				<article class="icon-box">
					<i class="icon-lock"></i>
					<h3>Gwarancja bezpieczeństwa</h3>
					<p>Zrealizowaliśmy już pozytywnie setki zamówień dla naszych klientów.</p>
				</article>
			</div>
		</section>
	</div>
{% endblock %}
