{% extends '::body.html.twig' %}
{% block section -%}
	<div id="content">
		<div class="container floated">
			<div class="sixteen floated page-title">
				<h2>Oferta</h2>
				<nav id="breadcrumbs">
					<ul>
						<li>Jesteś tutaj:</li>
						<li><a href="{{ path('acme_front_homepage') }}">Start</a></li>
						<li>Oferta</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="page-content">
			<div class="container">
				<div class="two-thirds column">
					<h3 style="margin: -10px 0 15px 0;">Co oferujemy?</h3>
					<p>Aby zapoznać się z naszą standardową ofertą – kliknij <a target="_blank" href="/katalog motosanitor_09_2013.pdf">tutaj</a>. Pamiętaj, że na życzenie poszerzymy naszą ofertę specjalnie o wskazany przez Ciebie asortyment!</p>
					{# <ul>
						<li>- Elementy narzędziowe (szczotki druciane, papier ścierny, brzeszczoty, noże…),</li>
						<li>- Elementy eksploatacyjne (bezpieczniki, baterie, żarówki, ciężarki do wywarzania kół…),</li>
						<li>- Elementy złączne (taśmy kablowe, taśmy izolacyjne, opaski stalowe, wkręty…),</li>
						<li>- Środki chemiczne (nitro, benzynę ekstrakcyjną, silikony, płyny do klimatyzacji…),</li>
						<li>- Odzież ochronną (rękawice, okulary, ubrania…),</li>
					</ul> #}

				</div>
			</div>
		</div>
	</div>
{% endblock %}
