{% extends '::body.html.twig' %}
{% block section -%}
	<div id="content">
		<div class="container floated">
			<div class="sixteen floated page-title">
				<h2>O nas</h2>
				<nav id="breadcrumbs">
					<ul>
						<li>Jesteś tutaj:</li>
						<li><a href="{{ path('acme_front_homepage') }}">Start</a></li>
						<li>O nas</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="page-content">
			<div class="container">
				<div class="two-thirds column">
					<p style="text-align: justify">Głównymi założeniem firmy MOTOSANITOR jest kompleksowe zaopatrywanie warsztatów samochodowych w drobnicowe materiały eksploatacyjne i narzędzia do naprawy samochodów, w które serwisy i warsztaty musza zaopatrywać się same. W pierwszej kolejności stawiamy na jakość oraz konkurencyjność cen oferowanych produktów. Głównym kanałem dystrybucji jest sprzedaż wysyłkowa, przesyłki zazwyczaj dostarczane są firmami kurierskimi bezpośrednio pod wskazany adres odbioru, przeważnie dostawa następuje między 48 do 72 godzin. Praktycznie wszystkie produkty jakie znajdują się w niniejszym cenniku posiadamy na magazynie, co daje nam możliwość błyskawicznej realizacji wysyłek. Wieloletnie doświadczenie związane z pracą w branży motoryzacyjnej pozwoliło osiągnąć nam perfekcję w obsłudze naszych klientów.</p>
				</div>
				<div class="one-third column">
					<h3 style="margin: -10px 0 15px 0;">MOTOSANITOR</h3>
					<div class="large-notice">
						<h2>„SANITOR” Marcin Kołodziejczyk</h2>
						<p>Biuro techniczno-handlowe</p>
						<p>Ul. Sikorskiego 12b/64, 61-535 Poznań</p>
						<p>biuro@motosanitor.pl</p>
						<p>tel: +48 789 426 368</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
